# Databases and SQL for Data Science with Python - Peer Assignemnt

## Instruction about assignment
You have been hired by an organization that strives to <font color=red style="bold">improve educational outcomes for children and young people in Chicago</font>. 
Your job is to analyze the 
census, 
crime, and 
school data for a given neighborhood or district. 
You will identify causes that impact the enrollment, safety, health, environment ratings of schools.

You will be required to answer questions similar to what a real life data analyst or data scientist would be tasked with. You will be assessed both on the correctness of your SQL queries and results. 

A Jupyter notebook is provided to help you complete this assignment. Follow the instructions to complete all the problems, then share the Queries and Results with your peers for review.

In [1]:
import ibm_db

In [2]:
%load_ext sql

#!pip install ibm-db-sa

In [3]:
# Remember the connection string is of the format:
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name
# Enter the connection string for your Db2 on Cloud database instance below
%sql ibm_db_sa://gpv6:7v31@dass.dal.bluemix.net:50000/BLUDB

DB2/LINUXX8664

#####  Something will be here.

In [4]:
%sql SELECT count(*) FROM Crime_DATA;

 * ibm_db_sa://gpv23956:***@dashdb-uemix.net:50000/BLUDB
Done.

[(Decimal('533'),)]

## Problem 2: List community areas with per capita income less than 11000.

Take a screenshot showing the SQL query and its results. Upload the JPEG (.jpg) file below for your peers to review.

In [5]:
%sql Select * from Crime_Data Limit 4;

 * ibm_db_sa://gpv23956:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[(3512276, 'HK587712', '8/28/04 5:50 PM', '047XX S KEDZIE AVE', '890', 'THEFT', 'FROM BUILDING', 'SMALL RETAIL STORE', 'FALSE', 'FALSE', 911, 9, 14, 58, '6', 1155838, 1873050, 2004, '2/10/18 3:50 PM', Decimal('41.80744050'), Decimal('-87.70395585'), '(41.8074405, -87.703955849)'),
 (3406613, 'HK456306', '6/26/04 12:40 PM', '009XX N CENTRAL PARK AVE', '820', 'THEFT', '$500 AND UNDER', 'OTHER', 'FALSE', 'FALSE', 1112, 11, 27, 23, '6', 1152206, 1906127, 2004, '2/28/18 3:56 PM', Decimal('41.89827996'), Decimal('-87.71640551'), '(41.898279962, -87.716405505)'),
 (8002131, 'HT233595', '4/4/11 5:45 AM', '043XX S WABASH AVE', '820', 'THEFT', '$500 AND UNDER', 'NURSING HOME/RETIREMENT HOME', 'FALSE', 'FALSE', 221, 2, 3, 38, '6', 1177436, 1876313, 2011, '2/10/18 3:50 PM', Decimal('41.81593313'), Decimal('-87.62464213'), '(41.815933131, -87.624642127)'),
 (7903289, 'HT133522', '12/30/10 4:30 PM', '083XX S KINGSTON AVE', '840', 'THEFT', 'FINANCIAL ID THEFT: OVER $300', 'RESIDENCE', 'FALSE', 'FALSE', 423, 4, 7, 46, '6', 1194622, 1850125, 2010, '2/10/18 3:50 PM', Decimal('41.74366532'), Decimal('-87.56246276'), '(41.743665322, -87.562462756)')]

## Problem 2: List community areas with per capita income less than 11000.

In [6]:
%sql Select community_area_name from socioeco where per_capita_income < 11000;

 * ibm_db_sa://gpv23956:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[('West Garfield Park',),
 ('South Lawndale',),
 ('Fuller Park',),
 ('Riverdale',)]

## Problem 3: List all case numbers for crimes  involving minors?

In [7]:
%sql select case_number,primary_type from crime_data where primary_type like '%MINOR%';
# case_number
# %sql select * from crime_data ;

 * ibm_db_sa://gpv23956:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[]

## Problem 4: List all kidnapping crimes involving a child?

In [10]:
%sql select * from crime_data where primary_type =  'KIDNAPPING' and description like '%CHILD%';

 * ibm_db_sa://gpv23956:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[(5276766, 'HN144152', '1/26/07 10:05 AM', '050XX W VAN BUREN ST', '1792', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 'FALSE', 'FALSE', 1533, 15, 29, 25, '20', 1143050, 1897546, 2007, '2/28/18 3:56 PM', Decimal('41.87490841'), Decimal('-87.75024931'), '(41.874908413, -87.750249307)')]

## Problem 5: What kind of crimes were recorded at schools?

In [14]:
%sql select distinct primary_type from crime_data where location_description like '%SCHOOL%';

 * ibm_db_sa://gpv23956:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[('ASSAULT',),
 ('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('CRIMINAL TRESPASS',),
 ('NARCOTICS',),
 ('PUBLIC PEACE VIOLATION',)]

## Problem 6: List the average safety score for all types of schools.

In [19]:
%sql Select AVG(safety_score) from SCHOOLS;

 * ibm_db_sa://gpv23956:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('49.504873'),)]

## Problem 7: List 5 community areas with highest % of households below poverty line.

In [31]:
%sql Select community_area_name, percent_households_below_poverty	 from Socioeco;

 * ibm_db_sa://gpv23956:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[('Rogers Park', Decimal('23.6')),
 ('West Ridge', Decimal('17.2')),
 ('Uptown', Decimal('24.0')),
 ('Lincoln Square', Decimal('10.9')),
 ('North Center', Decimal('7.5')),
 ('Lake View', Decimal('11.4')),
 ('Lincoln Park', Decimal('12.3')),
 ('Near North Side', Decimal('12.9')),
 ('Edison Park', Decimal('3.3')),
 ('Norwood Park', Decimal('5.4')),
 ('Jefferson Park', Decimal('8.6')),
 ('Forest Glen', Decimal('7.5')),
 ('North Park', Decimal('13.2')),
 ('Albany Park', Decimal('19.2')),
 ('Portage Park', Decimal('11.6')),
 ('Irving Park', Decimal('13.1')),
 ('Dunning', Decimal('10.6')),
 ('Montclaire', Decimal('15.3')),
 ('Belmont Cragin', Decimal('18.7')),
 ('Hermosa', Decimal('20.5')),
 ('Avondale', Decimal('15.3')),
 ('Logan Square', Decimal('16.8')),
 ('Humboldt park', Decimal('33.9')),
 ('West Town', Decimal('14.7')),
 ('Austin', Decimal('28.6')),
 ('West Garfield Park', Decimal('41.7')),
 ('East Garfield Park', Decimal('42.4')),
 ('Near West Side', Decimal('20.6')),
 ('North Lawndale', Decimal('43.1')),
 ('South Lawndale', Decimal('30.7')),
 ('Lower West Side', Decimal('25.8')),
 ('Loop', Decimal('14.7')),
 ('Near South Side', Decimal('13.8')),
 ('Armour Square', Decimal('40.1')),
 ('Douglas', Decimal('29.6')),
 ('Oakland', Decimal('39.7')),
 ('Fuller Park', Decimal('51.2')),
 ('Grand Boulevard', Decimal('29.3')),
 ('Kenwood', Decimal('21.7')),
 ('Washington Park', Decimal('42.1')),
 ('Hyde Park', Decimal('18.4')),
 ('Woodlawn', Decimal('30.7')),
 ('South Shore', Decimal('31.1')),
 ('Chatham', Decimal('27.8')),
 ('Avalon Park', Decimal('17.2')),
 ('South Chicago', Decimal('29.8')),
 ('Burnside', Decimal('33.0')),
 ('Calumet Heights', Decimal('11.5')),
 ('Roseland', Decimal('19.8')),
 ('Pullman', Decimal('21.6')),
 ('South Deering', Decimal('29.2')),
 ('East Side', Decimal('19.2')),
 ('West Pullman', Decimal('25.9')),
 ('Riverdale', Decimal('56.5')),
 ('Hegewisch', Decimal('17.1')),
 ('Garfield Ridge', Decimal('8.8')),
 ('Archer Heights', Decimal('14.1')),
 ('Brighton Park', Decimal('23.6')),
 ('McKinley Park', Decimal('18.7')),
 ('Bridgeport', Decimal('18.9')),
 ('New City', Decimal('29.0')),
 ('West Elsdon', Decimal('15.6')),
 ('Gage Park', Decimal('23.4')),
 ('Clearing', Decimal('8.9')),
 ('West Lawn', Decimal('14.9')),
 ('Chicago Lawn', Decimal('27.9')),
 ('West Englewood', Decimal('34.4')),
 ('Englewood', Decimal('46.6')),
 ('Greater Grand Crossing', Decimal('29.6')),
 ('Ashburn', Decimal('10.4')),
 ('Auburn Gresham', Decimal('27.6')),
 ('Beverly', Decimal('5.1')),
 ('Washington Height', Decimal('16.9')),
 ('Mount Greenwood', Decimal('3.4')),
 ('Morgan Park', Decimal('13.2')),
 ("O'Hare", Decimal('15.4')),
 ('Edgewater', Decimal('18.2')),
 ('CHICAGO', Decimal('19.7'))]

## Problem 8: Which community area(number) is most crime prone?

In [38]:
%sql Select community_area_number,count(*) as total from crime_data group by community_area_number order by 2 desc limit 1;

 * ibm_db_sa://gpv23956:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[(25, Decimal('43'))]

## Problem 9: Use a sub-query to find the name of the community area with highest hardship index.

In [42]:
%sql Select community_area_name from socioeco where hardship_index =(Select max(hardship_index) from socioeco  );

# SELECT column_name [, column_name ]
# FROM   table1 [, table2 ]
# WHERE  column_name OPERATOR
#    (SELECT column_name [, column_name ]
#    FROM table1 [, table2 ]
#    [WHERE])

 * ibm_db_sa://gpv23956:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[('Riverdale',)]

## Problem 10: Use a sub-query to determine the Community Area Name with most number of crimes?

In [50]:
%sql Select community_area_name 
from socioeco 
where 
community_area_number =
(Select 
 community_area_number 
 from (
     Select community_area_number,count(*) as total from crime_data group by community_area_number order by 2 desc limit 1));

 * ibm_db_sa://gpv23956:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[('Austin',)]

In [49]:
%sql Select community_area_number from (Select community_area_number,count(*) as total from crime_data group by community_area_number order by 2 desc limit 1);

 * ibm_db_sa://gpv23956:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[(25,)]