# Databases and SQL for Data Science with Python - Peer Assignemnt

## Instruction about assignment
You have been hired by an organization that strives to <font color=red style="bold">improve educational outcomes for children and young people in Chicago</font>. 
Your job is to analyze the 
census, 
crime, and 
school data for a given neighborhood or district. 
You will identify causes that impact the enrollment, safety, health, environment ratings of schools.

You will be required to answer questions similar to what a real life data analyst or data scientist would be tasked with. You will be assessed both on the correctness of your SQL queries and results. 

A Jupyter notebook is provided to help you complete this assignment. Follow the instructions to complete all the problems, then share the Queries and Results with your peers for review.

In [1]:
import ibm_db

In [2]:
%load_ext sql

!pip install ibm-db-sa

Requirement already satisfied: ibm-db-sa in c:\users\umair\anaconda3\lib\site-packages (0.3.6)
Requirement already satisfied: sqlalchemy>=0.7.3 in c:\users\umair\anaconda3\lib\site-packages (from ibm-db-sa) (1.3.20)
Requirement already satisfied: ibm-db>=2.0.0 in c:\users\umair\anaconda3\lib\site-packages\ibm_db-3.0.4-py3.8.egg (from ibm-db-sa) (3.0.4)

In [3]:
# Remember the connection string is of the format:
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name
# Enter the connection string for your Db2 on Cloud database instance below
%sql ibm_db_sa://gpv23956:7v9-p1cjlm37xj31@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB

DB2/LINUXX8664

#####  Something will be here.

In [10]:
%sql SELECT count(*) FROM Crime_DATA;

 * ibm_db_sa://gpv23956:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: SQLNumResultCols failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0104N  An unexpected token "=" was found following "ROM Crime_DATA limit".  Expected tokens may include:  "WHERE".  SQLSTATE=42601\r SQLCODE=-104
[SQL: SELECT count(*) FROM Crime_DATA limit=5;]
(Background on this error at: http://sqlalche.me/e/13/f405)

## Problem 2: List community areas with per capita income less than 11000.

Take a screenshot showing the SQL query and its results. Upload the JPEG (.jpg) file below for your peers to review.

In [12]:
%sql Select * from Crime_Data Limit 4;

 * ibm_db_sa://gpv23956:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[(3512276, 'HK587712', '8/28/04 5:50 PM', '047XX S KEDZIE AVE', '890', 'THEFT', 'FROM BUILDING', 'SMALL RETAIL STORE', 'FALSE', 'FALSE', 911, 9, 14, 58, '6', 1155838, 1873050, 2004, '2/10/18 3:50 PM', Decimal('41.80744050'), Decimal('-87.70395585'), '(41.8074405, -87.703955849)'),
 (3406613, 'HK456306', '6/26/04 12:40 PM', '009XX N CENTRAL PARK AVE', '820', 'THEFT', '$500 AND UNDER', 'OTHER', 'FALSE', 'FALSE', 1112, 11, 27, 23, '6', 1152206, 1906127, 2004, '2/28/18 3:56 PM', Decimal('41.89827996'), Decimal('-87.71640551'), '(41.898279962, -87.716405505)'),
 (8002131, 'HT233595', '4/4/11 5:45 AM', '043XX S WABASH AVE', '820', 'THEFT', '$500 AND UNDER', 'NURSING HOME/RETIREMENT HOME', 'FALSE', 'FALSE', 221, 2, 3, 38, '6', 1177436, 1876313, 2011, '2/10/18 3:50 PM', Decimal('41.81593313'), Decimal('-87.62464213'), '(41.815933131, -87.624642127)'),
 (7903289, 'HT133522', '12/30/10 4:30 PM', '083XX S KINGSTON AVE', '840', 'THEFT', 'FINANCIAL ID THEFT: OVER $300', 'RESIDENCE', 'FALSE', 'FALSE', 423, 4, 7, 46, '6', 1194622, 1850125, 2010, '2/10/18 3:50 PM', Decimal('41.74366532'), Decimal('-87.56246276'), '(41.743665322, -87.562462756)')]